@use "../../App.module.scss" as *;

.imageCarouselContainer {
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;
  }

  .imageCarouselImagesContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .imageContentContainer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      flex-basis: 90%;
      height: 100%;
      align-items: center;

      .imageContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 100%;

        .imageIndicator {
          text-align: center;

          .circle {
            width: 15px;
            height: 15px;
            background-color: $clrGrey2;
            border-radius: 50%;
            display: inline-block;

            &:not(:last-child) {
              margin-right: 5px;
            }
          }

          .activeCircle {
            background-color: $clrPrimary1;
          }
        }

        .imageCancelBtnContainer {
          .imageCancelBtn {
            width: 100%;
            height: 60px;
            font-size: 20px;
            cursor: pointer;
            color: $clrPrimary1;
            padding: 0;
            background: transparent;
            border-width: 1px;
            border-color: $clrPrimary1;
            text-transform: uppercase;

            &:hover {
              background: $clrPrimary3;
            }
          }
        }

        .imageOfCarousel {
          width: 100%;
          height: 70%;
          object-fit: cover;
        }

        .imageTextContainer {
          line-height: 30px;

          .imageTitle {
            text-transform: capitalize;
            font-size: 30px;
          }

          .imageDescription {
            font-size: 20px;
            color: $clrBlack;

            &::first-letter {
              text-transform: capitalize;
            }
          }
        }
      }
    }

    .arrowBackContainer,
    .arrowForwardContainer {
      display: flex;
      flex-basis: 5%;
      min-width: 5%;
      align-items: center;
      height: 70%;
    }

    .arrowBack,
    .arrowForward {
      cursor: pointer;
      font-size: 40px;
      color: $clrPrimary1;
    }
  }
}
