@use "../../App.module.scss" as *;

.phoneKeyItem,
.phoneKeyItemNotVisible {
  flex-basis: 30%;
  height: 60px;
  margin-bottom: 15px;
}

.phoneKeyItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $clrPrimary2;
  font-weight: bold;
  background: $clrWhite;
  font-size: 40px;
  cursor: pointer;
  @extend %disableTextSelection;

  &:focus {
    background: $clrPrimary1;
    color: $clrWhite;
    outline: none;
  }
}

.phoneKeyItemNotVisible {
  background: 0 0;
  font-size: 0;
  pointer-events: none;
}

.phoneKeyItemScaleAnim {
  animation: scale 0.2s 1 ease-in-out;
}
