@use "../../App.module.scss" as *;

.contactAlertWindow {
  @extend %centerOfScreen !optional;
  width: 550px;
  height: 290px;
  color: $clrWhite;

  .contactAlertWindowHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27%;
    background: $clrPrimary1;

    .contactAlertWindowHeaderTitle {
      font-size: 25px;
    }
  }

  .contactAlertWindowMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43%;
    background: $clrWhite;

    .contactAlertWindowMainTitle {
      width: 50%;
      font-size: 25px;
      text-align: center;
      color: $clrBlack;
    }
  }

  .contactAlertWindowFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    background: $clrGrey2;

    .contactAlertWindowBtn {
      width: 200px;
      height: 50px;
      font-size: 30px;
      color: $clrWhite;
      background: $clrPrimary2;
      text-transform: uppercase;
      border: none;
      cursor: pointer;

      &:hover {
        background: $clrPrimary8;
      }
    }
  }

  .contactAlertWindowHeaderTitle,
  .contactAlertWindowMainTitle {
    &::first-letter {
      text-transform: uppercase;
    }
  }
}
