@use "../../App.module.scss" as *;

.numberEntryFinalDecisionBtn {
  border-width: 1px;
  border-radius: 3px;
  font-size: 16px;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background: $clrPrimary1;
    color: $clrWhite;
  }
}
