@use "../../App.module.scss" as *;

.productInfoScreen {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  background: url("../../data/img/road.png") center/cover no-repeat;
}
