@use "../../App.module.scss" as *;

.numberEntryScreen {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  //Пробовал сделать бг из двух половин, но картинки растягивает по высоте, а cover работает на весь экран
  //Поэтому сделал картинку под БГ вручную.
  // background: url("./data/img/Mazda6BG.jpg") left/55% 100% no-repeat,
  //   linear-gradient(to top, $clrGrey2, $clrGrey2) right/45% 100% no-repeat;

  &:focus {
    outline: none;
  }
}
