@use "../../App.module.scss" as *;

.numberEntryFinalDecisionContainer {
  display: flex;
  justify-content: center;
  height: 100%;

  .numberEntryFinalDecision {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    color: $clrPrimary7;

    .numberEntryLogoContainer {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      height: 130px;
    }

    .numberEntryDecisionBtnsContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 160px;

      .numberEntryPersonalOfferBtn {
        height: 50%;
      }

      .numberEntryCancelBtn {
        &:focus {
          background: $clrPrimary1;
          color: $clrWhite;
        }

        height: 40%;
      }
    }
  }
}
