@use "../../App.module.scss" as *;

.exitWindow {
  @extend %centerOfScreen !optional;
  width: 660px;
  height: 230px;

  .exitWindowHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
    background: $clrWhite;

    .exitWindowTitle {
      font-size: 32px;
      color: $clrBlack;

      &::first-letter {
        text-transform: uppercase;
      }
    }
  }

  .exitWindowFooter {
    display: flex;
    justify-content: center;
    height: 55%;
    background: $clrGrey2;

    .exitWindowButtons {
      display: flex;
      width: 85%;
      justify-content: space-around;
      align-items: center;

      .exitWindowAgreementBtn,
      .exitWindowCancelBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 32px;
        text-transform: capitalize;
        color: $clrWhite;
        flex-basis: 45%;
        height: 45%;
        background: $clrGrey6;
        cursor: pointer;

        &:focus {
          background: $clrPrimary2;
        }

        &:hover {
          background: $clrPrimary2;
        }
      }
    }
  }
}
