@use "../../App.module.scss" as *;

.aboutProductContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  .productHeader {
    display: flex;
    width: 95%;
    height: 20%;
    justify-content: space-between;

    .productTitle {
      color: $clrPrimary4;
      font-size: 50px;
      font-weight: bold;
      text-transform: uppercase;
      align-self: center;
    }

    .aboutProductLogoContainer {
      align-self: flex-end;
    }
  }

  .productBody {
    width: 100%;

    .featuresСontainer {
      .featuresTitle {
        font-size: 22px;
        color: $clrPrimary5;
        text-transform: uppercase;
      }

      .features {
        color: $clrBlack;
        list-style-type: "—";
        //Потому, что ширина символа "—" равна 20px
        //при размере шрифта 20px класса feature
        padding-left: 20px;

        .feature {
          font-size: 20px;
          padding-left: 5px;
          line-height: 25px;
        }
      }
    }

    .productImageContainer {
      width: 85%;

      .productImage {
        width: 100%;
        object-fit: cover;
      }
    }

    .productProgramDescriptionContainer {
      width: 80%;
      text-align: justify;
      line-height: 11px;

      .productProgramDescription {
        font-size: 10px;
      }
    }
  }

  .productFooter {
    width: 100%;

    .productAcceptBtnContainer {
      display: flex;
      width: 90%;
      height: 60px;
      font-size: 16px;
      color: $clrWhite;
      text-transform: uppercase;
      cursor: pointer;

      .productAcceptBtnLeftPart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 12%;
        background: $clrPrimary6;
      }

      .productAcceptBtnRightPart {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 88%;
        background: $clrPrimary2;
        color: $clrWhite;
      }
    }
  }
}
