@use "../../App.module.scss" as *;

.numberEntryFinalDecisionLegend {
  display: flex;
  font-size: 12px;
  height: 70px;
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }

  .numberEntryFinalDecisionLegendIconContainer {
    flex-basis: 70px;

    .numberEntryFinalDecisionLegendIcon {
      width: 100%;
      height: 100%;
    }
  }

  .numberEntryFinalDecisionLegendTitle {
    width: calc(100% - 70px);
    align-self: center;
    margin-left: 30px;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}
