//Vars
//darkest blue for banner, buttons, border
$clrPrimary1: #1b2c66;
$clrPrimary2: #1b2c60;
$clrPrimary3: #61709c49;
$clrPrimary4: #0a0c68;
$clrPrimary5: #6365bd;
$clrPrimary6: #4b626e;
$clrPrimary7: #0e384d;
$clrPrimary8: #334375;
//darkest grey for banner, ...
$clrGrey1: #ebe7e3;
$clrGrey2: #d1cecb;
$clrGrey3: #faf5f1;
$clrGrey4: #504e4e;
$clrGrey5: #776d6d;
$clrGrey6: #8a8080;
$clrGrey7: #5a5757;
$clrWhite: #fff;
$clrBlack: #000;
//end of vars

//Templates
%centerOfScreen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
%disableTextSelection {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
//end of templates

* {
  font-family: Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

.darkBackdrop {
  &::before {
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }
}

.circle {
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background: $clrGrey1;
  border-radius: 50%;
  align-self: center;
}

.productLogo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.sectionLeft,
.sectionRight {
  height: 90%;
}

.sectionLeft {
  flex-basis: 50%;
}

.sectionRight {
  flex-basis: 40%;
}

.phoneNumberCompleted {
  background: $clrPrimary1 !important;
  color: $clrWhite;

  &:hover {
    background: $clrPrimary8 !important;
  }
}

.stopCheckboxAnim {
  &:focus {
    animation: none !important;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
