@use "../../App.module.scss" as *;

.phoneNumberPanelContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;

  .phoneNumberPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 75%;

    .phoneTitleContainer {
      display: flex;
      align-items: flex-end;
      height: 25%;

      .phoneTitle {
        color: $clrWhite;
        text-align: center;
        font-size: 30px;
      }
    }

    .phoneInputContainer {
      height: 65px;

      .phoneInputSubContainer {
        height: 100%;

        .phoneInput {
          width: 100%;
          height: 100%;
          font-size: 40px;
          color: $clrGrey7;
          border: none;
          border-radius: 3px;
          padding: 2px 18px;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .phoneNumberPanelLicenseAgreement {
      display: flex;
      justify-content: space-between;
      width: 90%;

      .phoneNumberPanelCheckboxInputContainer {
        position: relative;
        flex-basis: 10%;
        .phoneNumberPanelCheckboxInput {
          position: absolute;
          top: 10%;
          left: 16%;
          transform: scale(2);

          &:focus {
            animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          }
        }
      }

      .phoneNumberPanelLicenseAgreementText {
        flex-basis: 92%;
        font-size: 14px;
        text-align: justify;
        color: $clrWhite;

        .phoneNumberPanelProductName {
          text-transform: capitalize;
        }

        .phoneNumberPanelTermsOfUse {
          display: block;
          text-decoration: underline;
          cursor: pointer;
          color: $clrWhite;

          &:hover {
            color: $clrPrimary1;
          }

          &:focus {
            color: $clrPrimary1;
            outline: none;
          }
        }
      }
    }
  }
}
