@use "./../../App.module" as *;

.banner {
  position: absolute;
  display: flex;
  width: 500px;
  height: 130px;
  bottom: 20px;
  right: -500px;
  text-transform: uppercase;
  transition: right 0.7s ease-in;
  cursor: pointer;

  .bannerAcceptContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $clrPrimary1;
    width: 15%;
    height: 100%;

    .bannerAccept {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 65%;
      color: $clrWhite;

      .bannerAcceptTitle {
        font-size: 18px;
        font-weight: bold;
        align-self: center;
      }

      .bannerAcceptBtnKey {
        @extend %centerOfScreen;
        width: 100%;
        padding: 3px;
        font-size: 30px;

        font-weight: bold;
        color: $clrPrimary2;
        align-self: center;
        text-align: center;
      }
    }
  }

  .bannerBodyContainer {
    display: flex;
    align-items: center;
    width: 85%;
    height: 100%;
    background: linear-gradient(to right, $clrGrey2, $clrGrey3);

    .bannerBody {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .bannerBodyText {
        flex-basis: 40%;
        font-size: 20px;
        font-weight: bold;
        word-spacing: 100vw;
        color: $clrPrimary2;
        align-self: center;
      }

      .bannerBodyImgContainer {
        flex-basis: 40%;
        .bannerBodyImg {
          height: 100px;
        }
      }
    }
  }
}

.bannerTranslate {
  right: 0;
}
